[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
lock = "A71HPBKuZWm5AeEHTant8rdC2nkMDBcaWcfSrqtjU94F"

[programs.devnet]
lock = "46BKi3nxgwFpc8EXE2Yem3syK5yqQRvJLasWzvsTEEgx"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
